<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD GAME</title>
</head>

<style>
    body{
        background-color: #2A3132;
        text-align: center;
    }

    .buttons{
        background: darkblue;
        color: aqua;
        border:none;
        position:relative;
        height:60px;
        font-size:1.6em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
    }

    .summary{
        display: grid;
        grid-gap: 10px;
        grid-template-rows: repeat(1,100px);
        grid-template-columns: repeat(1,500px);
    }

    .page {
        display: grid;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        grid-gap: 10px;
        grid-template-columns: repeat(1,500px);
    }

    input[type=text], input[type=date], input[type=number]{
        display: grid;
        width: 100%;
        padding: 8px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }

</style>

<body>
    <h1>
        <span title="My title" style="color: aliceblue">
            ADD NEW GAME
        </span>
    </h1>

    <form class="page" action="{% url 'add_new_game' %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="insert name">
        <input type="text" name="company" placeholder="insert company">
        <input type="number" name="price" placeholder="insert price">
        <input type="text" name="summary" id="summary" placeholder="insert a summary for the game">
        <input type="text" name="genre" placeholder="insert genre">
        <input type="date" name="date_of_release" placeholder="insert the date of release">
        <input class="buttons" type="submit" value="SUBMIT">
    </form>

</body>
</html>