<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD COMPANY</title>
</head>

<style>
    body{
        background-color: #2A3132;
        text-align: center;
    }

    .buttons{
        background: darkblue;
        color: aqua;
        border:none;
        position:relative;
        height:60px;
        font-size:1.6em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
    }

    .page {
        display: grid;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        grid-gap: 10px;
        grid-template-columns: repeat(1,500px);
    }

    input[type=text], input[type=number]{
        display: grid;
        width: 100%;
        padding: 8px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }

    input[type=date]{
        {#display: grid;#}
        padding: 8px 20px;
        margin: 8px 0;
    }
</style>

<body>
    <h1>
        <span title="My title" style="color: aliceblue">
            ADD NEW COMPANY
        </span>
    </h1>
    <form class="page" action="{% url 'add_new_company' %}" method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="insert name">
            <input type="number" name="number_of_employees" placeholder="insert number of employees">
            <input type="text" name="centre" id="summary" placeholder="insert the company centre">
            <input class="buttons" type="submit" value="SUBMIT">
    </form>

</body>
</html>