<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
    body{
        background-color: #2A3132;
        text-align: center;
    }

    .buttons{
        background: darkblue;
        color: aqua;
        border:none;
        position:relative;
        height:60px;
        font-size:1.6em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
    }

</style>

<body>
    <h1>
        <span title="My title" style="color: aliceblue">
                WELCOME TO GAMING STORE
        </span>
    </h1>
    <a class="buttons" href="{% url 'home_page' %}">ADMINISTRATOR</a>
    <a class="buttons" href="{% url 'user_login' %}">USER</a>
</body>
</html>