<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Game</title>
</head>

<style>
    body{
        background-color: #2A3132;
        text-align: center;
    }

    .button{
        background: darkblue;
        color: aqua;
        border:none;
        position:relative;
        height:60px;
        font-size:1.6em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
    }

    .page {
        color: aqua;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        grid-gap: 10px;
    }

    table {
        width: 50%;
    }

    th, tr{
        padding: 15px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .selected{
        background-color: aquamarine;
        color: #2A3132;
    }
</style>

<body>

    <h1>
        <span title="My title" style="color: aliceblue">
            DELETE GAME
        </span>
    </h1>

<div>
    <table class="page">
        {% for game in games %}
            <tr>
                <th> {{ game.id }} </th>
                <th> {{ game.name }} </th>
                <th> {{ game.company }} </th>
                <th> {{ game.summary }} </th>
                <th> {{ game.genre }} </th>
                <th> {{ game.date_of_release }} </th>
            </tr>
        {% endfor %}
    </table>
</div>

<button class="button">DELETE</button>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script>
        let index = 0;
        $('tr').click(function () {
            $(this).addClass('selected').siblings().removeClass('selected');
            index = $(this).find('th:nth-child(1)').html();
        });

        $('.button').on('click', function(e) {
            let data = {'id': index};
            $.post("{% url 'delete_game'%}", data);
        });
    </script>
</body>
</html>