<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
    body{
        background-color: #2A3132;
        text-align: center;
    }

    .page {
        display: grid;
        color: aqua;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        grid-gap: 10px;
    }

    .button{
        background: darkblue;
        color: aqua;
        border:none;
        position:relative;
        height:60px;
        font-size:1.6em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
    }

    table {
        width: 50%;
        {#border: 1px solid black;#}
    }

    th, tr{
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .selected{
        background-color: aquamarine;
        color: #2A3132;
    }
</style>

<body>

    <h1>
        <span title="My title" style="color: aliceblue">
            {{ game.name }}
        </span>
    </h1>

    <div class="page">
        {{ game.name }}
    </div>

    <form class="page" action="{% url 'add_review' %}" method="post">
        {% csrf_token %}
        <input type="text" name="review" placeholder="add review">
        <input class="button" type="submit" value="SUBMIT">
    </form>

    <datalist>
        {{ review.comment }}
    </datalist>

</body>
</html>