<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>

<style>
    body{
        background-color: #2A3132;
        text-align: center;
    }

    .page {
        color: aqua;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        grid-gap: 10px;
    }

    .button1, .button2, .details_button{
        background: darkblue;
        color: aqua;
        border:none;
        position:relative;
        height:60px;
        font-size:1.6em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
    }

    table {
        width: 50%;
        alignment: center;
    }

    th, tr{
        padding: 15px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .selected{
        background-color: aquamarine;
        color: #2A3132;
    }
</style>

<body>

    <h1>
        <span title="My title" style="color: aliceblue">
            ALL GAMES
        </span>
    </h1>

    <div>
        <table class="page">
            {% for game in games %}
                <tr>
                    <th> {{ game.id }}</th>
                    <th> {{ game.name }}</th>
                    <th> {{ game.company }}</th>
                    <th> {{ game.summary }}</th>
                    <th> {{ game.genre }}</th>
                    <th> {{ game.date_of_release }}</th>
                </tr>
            {% endfor %}
        </table>
    </div>

<a class="button1">Add to cart</a>
<a class="button2" href="{% url 'shopping_cart' %}">My cart</a>
<a class="details_button">Details</a>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    let name = 0;
    let id = 0;
    $('tr').click(function () {
        $(this).addClass('selected').siblings().removeClass('selected');
        name = $(this).find('th:nth-child(2)').html();
        id = $(this).find('th:nth-child(1)').html();
    });

    $('.button1').on('click', function(e) {
        let data = {'name': name};
        $.post("{% url 'add_to_cart'%}", data);
    });

    $('.details_button').on('click', function(e) {
        let data = {'id': id};
        $.post("{% url 'game_details'%}", data);
    });
</script>

</body>
</html>