<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHOPPING CART</title>
</head>

<style>
    body{
        background-color: #2A3132;
        text-align: center;
    }

    .page {
        color: aqua;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        grid-gap: 10px;
    }

    .buttons{
        background: darkblue;
        color: aqua;
        border:none;
        position:relative;
        height:60px;
        font-size:1.6em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
    }

    table {
        width: 50%;
    }

    th, tr{
        padding: 15px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }
</style>

<body>

    <h1>
        <span title="My title" style="color: aliceblue">
            MY CART
        </span>
    </h1>

<table class="page">
    {% for game in games %}
        <tr>
            <th> {{ game.id }}</th>
            <th> {{ game.name }}</th>
            <th> {{ game.company }}</th>
            <th> {{ game.summary }}</th>
            <th> {{ game.genre }}</th>
            <th> {{ game.date_of_release }}</th>
        </tr>
    {% endfor %}
</table>

<a class="buttons" href="{% url 'buy' %}">Buy</a>

</body>
</html>