<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User login</title>
</head>

<style>
    body{
        background-color: #2A3132;
        text-align: center;
    }

    .page {
        display: grid;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        grid-gap: 10px;
        grid-template-columns: repeat(1,500px);
    }

    .buttons{
        background: darkblue;
        color: aqua;
        border:none;
        position:relative;
        height:60px;
        font-size:1.6em;
        padding:12px 20px;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
    }

    /* The alert message box */
    .alert {
      padding: 20px;
      background-color: #f44336; /* Red */
      color: white;
      margin-bottom: 15px;
    }

    /* The close button */
    .close_btn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }

    /* When moving the mouse over the close button */
    .close_btn:hover {
      color: black;
    }

</style>

<body>
    <h1>
        <span title="My title" style="color: aliceblue">
            LOGIN
        </span>
    </h1>
    <form class="page" action="{% url 'check_user_login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input class="buttons" type="submit" value="LOGIN">
        <a class="buttons" href="{% url 'user_new_account' %}">CREATE NEW ACCOUNT</a>
    </form>

{#    <div class="alert">#}
{#      <span class="close_btn" onclick="this.parentElement.style.display='none';">&times;</span>#}
{#      This is an alert box.#}
{#    </div>#}
</body>
</html>