<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GAMING STORE</title>
</head>
<style>
    body{
        background-color: #2A3132;
        text-align: center;
    }

    .buttons{
        background: darkblue;
        color: aqua;
        border:none;
        position:relative;
        height:60px;
        font-size:1.6em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
    }

</style>

<body>
    <h1>
        <span title="My title" style="color: aliceblue">
                WELCOME TO GAMING STORE
        </span>
    </h1>

    <div>
        <a class="buttons" href="{% url 'index' %}">GAMES</a>
        <a class="buttons">REVIEWS</a>
        <a class="buttons">UPDATE GAME</a>
    </div>
</body>
</html>