<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User new account</title>
</head>

<style>
    body{
        background-color: #2A3132;
        text-align: center;
    }

    .page {
        display: grid;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        grid-gap: 10px;
        grid-template-columns: repeat(1,500px);
    }

    .buttons{
        background: darkblue;
        color: aqua;
        border:none;
        position:relative;
        height:60px;
        font-size:1.6em;
        padding:12px 20px;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
    }

</style>

<body>
    <h1>
        <span title="My title" style="color: aliceblue">
            NEW ACCOUNT
        </span>
    </h1>
    <form class="page" action="{% url 'create_new_account' %}" method="post">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="first name">
        <input type="text" name="last_name" placeholder="last name">
        <input type="date" name="date_of_birth" placeholder="date of birth">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input class="buttons" type="submit" value="CREATE">
    </form>
</body>
</html>